<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>IoTito Configuration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Cabeçalho com logo e título centralizado -->
    <div class="header">
        <a href="{{ url_for('dashboard2') }}" class="back-button" title="Voltar para o Dashboard">&#x21E6;</a>
        <h1 class="title">System Configuration</h1>
        <img src="/static/logo_pd7.png" id="logo" alt="PD7Tech Logo">
    </div>

    <form method="POST" action="/configure" id="configForm">
        <div class="container">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>

        <div class="container">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>

        <div class="container">
            <label for="ssid">WIFI SSID:</label>
            <select name="ssid" id="ssid" required>
                {% for wifi in wifi_networks %}
                <option value="{{ wifi }}">{{ wifi }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="center">
            <label for="wifi_status">WiFi Status:</label>
            {% if wifi_connected %}
            <p id="wifi_status" style="color: green;">Connected</p>
            <button type="button" onclick="disconnect_wifi()">Disconnect WiFi</button>
            {% else %}
            <p id="wifi_status" style="color: red;">Disconnected</p>
            {% endif %}
        </div>

        <div class="container">
            <label for="wifi_password">WiFi Password:</label>
            <input type="password" name="wifi_password" id="wifi_password">
        </div>

        <div class="container">
            <label for="eth0_ip">eth0 IP Address:</label>
            <input type="text" name="eth0_ip" id="eth0_ip" required>
        </div>

        <div class="container">
            <label for="eth0_netmask">eth0 Netmask:</label>
            <input type="text" name="eth0_netmask" id="eth0_netmask" required>
        </div>

        <div class="container">
            <label for="eth0_gateway">eth0 Gateway:</label>
            <input type="text" name="eth0_gateway" id="eth0_gateway" required>
        </div>

        <div class="container">
            <label for="timezone">Timezone:</label>
            <select name="timezone" id="timezone" required>
                {% for timezone in timezone_html_list %}
                <option value="{{ timezone }}">{{ timezone }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="center">
            <input type="submit" id="button" value="Save Configuration" onclick="saveConfig()">
        </div>

        <div class="center">
            <button type="button" id="button_logout" onclick="logout()">Logout</button>
        </div>
    </form>

    <script>
        function saveConfig() {
            const form = document.forms["configForm"];
            if (form.checkValidity()) {
                form.submit();
                form.addEventListener("submit", function (event) {
                    event.preventDefault();
                    fetch('/configure', { method: 'POST' }).then(response => {
                        console.log(response.ok ? 'Config is saved!' : 'Fail in saving!');
                    });
                });
            } else {
                console.error('Fail in Form!');
            }
        }

        function disconnect_wifi() {
            fetch('/disconnect-wifi', { method: 'POST' }).then(response => {
                if (response.ok) location.reload();
                else console.error('Disconnect Fail!');
            });
        }

        function logout() {
            fetch('/logout', { method: 'POST' }).then(response => {
                if (response.ok) location.reload();
                else console.error('Logout failed');
            });
        }
    </script>
</body>
</html>
